<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
   
    <% content_for :head do %>
      <title>A simple page</title>
    <% end %>  
    <%= yield :head %>     
  </head>

  <body class="grid justify-items-center flex h-screen flex-col bg-gray-200 text-weight-900">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="self-end mx-auto text-cyan-600">
      <%= yield :greet %>
    </div>

    <div class="m-auto">         
      <%= yield %>
    </div>

    <div class="mx-auto text-emerald-700">
      <%= yield :greet %>
    </div>
  </body>
</html>
